body{
    background-color: #333;   
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    font-family : "Garmond", serif;
    color: floralwhite;
    text-align: center;
}




a:link {
    color: floralwhite !important;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50 !important;
  }

	footer {
    margin-top: 50px; /* add some space above the footer */
    text-align: center; /* center the footer content */
    font-size: small;
  }
  footer::before {
    content: "";
    display: block;
    width: 80%; /* set the width of the line */
    margin: 0 auto; /* center the line */
    border-top: 1px solid #fff; /* add the white line */
    margin-bottom: 10px; /* add some space between the line and footer content */
  }
